.video
{
    display: block;
}

.jogo
{
    display: block;
}

body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica", "Lucida Grande", "sans serif";
    color: #3d3d3d;
    }

h1  {
     padding: 10px;
    background-color: #E1EDF2;
    }

h2 {
    border-bottom:  2px solid black;
}
Figure {
     margin: 30px;
   padding: 15px;
   text-align: center;
    background-color:rgb(63, 63, 63);
    border: 5px solid rgb(0, 225, 255)
}
.Matrizdozacaco3{
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}