body {
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica", "Lucida Grande", "sans serif";
    line-height: 1.5;
    font-size: 16px;
    color: #3d3d3d;
    }

.titulo {
     padding: 10px;
     font-size: 32px;
    background-color: #f6fcff;
    }

.subtitulo {
    border-bottom:  2px solid black;
}

figure {
    max-width: 100%;
    box-sizing: border-box;
     margin: 30px;
   padding: 15px;
   text-align: center;
    background-color:rgb(63, 63, 63);
    border: 5px solid rgb(0, 208, 255)
}

.MatrizdoGamagCursos{
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}

.MatrizdosFundadores{
     width: 550px;
     margin-left: auto;
    margin-right: auto;
     float: right;
}

.criadores {
    width: 275px;
    float: right;
}

.logo {
    width: 180px;
    float: left;
}

.contato__subtitulo {
    display: inline;
}

.contato__secao {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone {
    margin-left: 32px;
}

.contato__info {
    margin-top: 16px 0 24px;
    padding-left: 32px;
}

.contato__info-titulo{
    margin-left: 32px;
}

.contato__info-descricao 
{
    display : inline;
}

.contato__info-descricao
{
    margin-left: 10px;
}
 .rodape {
    padding: 1.75em 0;

    font-size: 1.1rem;
 }

 .rodape__logo {
    width: 6em;
 }

 .rodape__copyright {
    display: inline;
    margin-left: 1em;
 }

 @media (max-width: 850px){
    .contato__secao {
        display: block;
        margin-left: 1em;
    }
 }

 @media (max-width: 622px)
 {
    .criadores {
        float: none;
        margin: 0 auto;
    }
 }

  @media (max-width: 446px){
    .contato__subtitulo{
        display: block;
        margin-bottom: 0;
    }
  

  .contato__info{
    padding-left: 5px;
    font-size: .92em;
    border-left: 2px solid lightgrey;
 }


 .rodape 
    {
    font-size: .92;
    }
  }

@media (max-width: 342px){
.contato__info-descricao{
    display: block;
    margin-left: 1em;
}   
}

table{
    border-collapse:collapse ;
    text-decoration: inherit;
}